@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
   	background-position: center;
}

main {
	display: grid;
	margin-top: 40vh;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2rem;

}

a {
	margin-top: 20px;
	border: 1px solid darkgrey;
	border-radius: 8px 8px 8px 8px;
	text-decoration: none;
	color: #FFF;
	padding: 0 20px;
	background-color: burlywood;
	
}

a:hover {
	background-color:darkgoldenrod;
}
