body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 200px;
    height: 200px;
    background-color: black;
    margin-top: 40vh;
    border-radius: 100%;
    position: relative;
    animation: moverDireita 4s;
}

@keyframes moverDireita {
    0% {transform: translateX(0px);}
    100% {transform: translateX(500px);}
}