body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    width: 200px;
    height: 200px;
    background-color: black;
    margin-top: 40vh;
    border-radius: 100%;
    transition: all 0.6s ease-in-out;
}

.circulo:hover {
    background-color: springgreen;
    width: 450px;
    height: 450px;
    margin-top: 30vh;
}